<template>
  <b-modal
    v-model="isCardModalActive"
    :active.sync="isCardModalActive"
    :width="500"
    scroll="keep"
  >
    <div class="card">
      <header>
        {{ formTitle }}
      </header>
      <section>
        {{ formData }}
        <div v-for="item in fields" :key="item.field">
          <b-field :label="item.title" :placeholder="item.title">
            <!-- Text -->
            <b-input
              v-if="item.type == 'text'"
              v-model="formData[item.field]"
            ></b-input>
            <br /><br />
            <!-- ColorPicker -->
            <b-colorpicker
              v-if="item.type == 'colorpicker'"
              v-model="formData[item.field]"
              value="#7957d5"
            />
          </b-field>

          <!-- </b-field> -->
        </div>
      </section>

      <footer>
        <b-button label="Submit" type="is-primary" @click="submit" /><span
          >..</span>
        <b-button label="Close" @click="$emit('close')" />
      </footer>
    </div>
  </b-modal>
</template>
  

<script>
export default {
  data() {
    return {
      formTitle: "Default Form Title",
      fields: [],
      collection: "",
      formData: {
        order: 0,
      },
      isCardModalActive: false,
    };
  },
  created() {
    this.$bus.on("form-comp", (data) => {
      console.log("Data", data);
      try {
        this.formTitle = data.formTitle;
        this.fields = this.$forms[data.formKey];
        this.collection = data.formKey;

        this.isCardModalActive = true;
      } catch (e) {
        console.log(e);
      }
      console.log("Active state", this.isCardModalActive);
    });
  },
  methods: {
    submit() {
      this.$bus.emit(`update:${this.collection}`, this.formData);
      console.log(this.formData);
    },
  },
};
</script>

<style>
</style>