<template>
  <div>
    <!-- Buefy Icon Button -->
    <div>
      <!-- <b-button @click="addStage()"/> -->
      <div class="buttons">
        <b-button
          @click="addStage()"
          size="is-medium"
          icon-right="plus-circle"
          label="Stages"
          type="is-success"
        ></b-button>
      </div>
    </div>

    <!-- Steps to add loop automatic to the stage when we press plus btn -->
    <!-- <b-steps>
        <b-step-item label="Awareness" :animated="isAnimated" :clickable="isStepsClickable"></b-step-item>
        <b-step-item label="Consideration"></b-step-item>
        <b-step-item label="Acquisition"></b-step-item>
        <b-step-item label="Service"></b-step-item>
        <b-step-item label="Loyalty"></b-step-item>
    </b-steps> -->

    <!-- Buefy modal to call form -->
    <div class="stages">
      <div
        v-show="show"
        v-for="(item, index) in journeyMap.stages"
        :key="item.id"
        class="stage-btn"
      >
        <b-button b-modal v-modal style="width: 9rem; padding-left: 2rem"
          >{{ item.name }} <span :id="index"></span>
        </b-button>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "StageComp",
  props: {
    journeyMap: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      show: true,
      navitems: [
        {
          name: "Awareness",
          color: "#3EC28F",
          order: 0,
        },
        {
          name: "Consideration",
          color: "#3EC28F",
          order: 2,
        },
        {
          name: "Acquisition",
          color: "#3EC28F",
          order: 3,
        },
        {
          name: "Service",
          color: "#3EC28F",
          order: 4,
        },
        {
          name: "Loyalty",
          color: "#3EC28F",
          order: 5,
        },
      ],
    };
  },
  computed: {
    btnClass(index) {
      return `btn${index}`;
    },
  },
  mounted() {
    console.log(this.$store.state.stageStore);
  },
  methods: {
    // showForm() {
    //   this.toggleval = !this.toggleval;
    // },
    // showNav() {
    //   this.show = !this.show;
    // },
    addStage() {
      //passing data between components using emit and on

      
      this.$bus.emit("form-comp", {
        formTitle: "Add a Stage",
        formKey: "stages",
      });

      //passing data in store
      this.$store.commit("StageStore", {
        formTitle: "Add a Stage",
        formKey: "stages",
      });
    },
  },
};
</script>

<style scoped>
/* .stages {
  display: flex;
  overflow: hidden;
  background-color: white;
  margin-inline-start: 10rem;
}
.btn {
  display: flex;
  background-color: red;
  height: 2.5rem;
  width: 8rem;
  margin: 0 0rem 0rem 0rem;
  padding-left: 2.5rem;
  box-shadow: black 1px;
  border-radius: 0;
}

.btn::after {
  content: "";
  margin: -0.4rem 0rem -4rem 0rem;
  z-index: 6;
  border-top: 1.25rem solid transparent;
  border-left: 1.75rem solid red;
  border-bottom: 1.25rem solid transparent;
}

#triangle-right {
  position: relative;
  left: 2rem;
  bottom: 0.6rem;
  border-top: 1.5rem solid transparent;
  border-left: 2rem solid white;
  border-bottom: 1.5rem solid transparent;
}
#triangle-right2 {
  position: relative;
  left: 0.8rem;
  bottom: 0.6rem;
  border-top: 1.5rem solid transparent;
  border-left: 2rem solid white;
  border-bottom: 1.5rem solid transparent;
}

.btn1 {
  background-color: #3ec28f;
  width: 9rem;
  padding-left: 2rem;
}

.btn1::after {
  border-left: 1.75rem solid #3ec28f;
}

.btn2 {
  background-color: #56ccf2;
  width: 9rem;
  padding-left: 2rem;
}

.btn2::after {
  content: "";
  margin: -0.4rem 0rem -4rem -1.22rem;
  z-index: 6;
  border-top: 1.25rem solid transparent;
  border-left: 1.75rem solid #56ccf2;
  border-bottom: 1.25rem solid transparent;
}

.btn3 {
  background-color: #907cff;
  width: 9rem;
  padding-left: 2rem;
}

.btn3::after {
  border-left: 1.75rem solid #907cff;
}

.btn4 {
  background-color: #f24822;
}

.btn4::after {
  border-left: 1.75rem solid #f24822;
}

.btn5 {
  background-color: #f2994a;
}

.btn5::after {
  border-left: 1.75rem solid #f2994a;
} */

.stages {
  display: flex;
  overflow: auto;
  background-color: white;
  margin-inline-start: 10rem;
}

.btn {
  display: flex;
  background-color: white;
  height: 2.5rem;
  width: 8rem;
  margin: 0 0rem 0rem 0rem;
  padding-left: 0.5rem;
  box-shadow: black 1px;
  border-radius: 0;
  border: none;
}

.btn::after {
  content: "";
  margin: -0.4rem 0rem -4rem 0rem;
  z-index: 6;
  border-top: 1.25rem solid transparent;
  border-left: 1.75rem solid red;
  border-bottom: 1.25rem solid transparent;
}

.btn1 {
  background-color: #3ec28f;
  width: 9rem;
  padding-left: 2rem;
}

.btn1::after {
  border-left: 1.75rem solid #3ec28f;
}
.btn2 {
  background-color: #56ccf2;
  width: 9rem;
  padding-left: 2rem;
}

.btn2::after {
  content: "";
  margin: -0.4rem 0rem -4rem -1.2rem;
  z-index: 6;
  border-top: 1.25rem solid transparent;
  border-left: 1.75rem solid #56ccf2;
  border-bottom: 1.25rem solid transparent;
}

.btn3 {
  background-color: #907cff;
  width: 9rem;
  padding-left: 2rem;
}

.btn3::after {
  border-left: 1.75rem solid #907cff;
}

.btn4 {
  background-color: #f24822;
  padding-left: 2.6rem;
}

.btn4::after {
  border-left: 1.75rem solid #f24822;
}

.btn5 {
  background-color: #f2994a;
  padding-left: 2.6rem;
}

.btn5::after {
  border-left: 1.75rem solid #f2994a;
}

#triangle-right {
  position: relative;
  left: 2rem;
  bottom: 0.65rem;
  border-top: 1.5rem solid transparent;
  border-left: 2rem solid white;
  border-bottom: 1.5rem solid transparent;
}
#triangle-right2 {
  position: relative;
  left: 0.8rem;
  bottom: 0.65rem;
  border-top: 1.5rem solid transparent;
  border-left: 2rem solid white;
  border-bottom: 1.5rem solid transparent;
}

/* PLUS BUTTON Style */
/* .type {
  color: #3ec28f;
   
} */

/* Model Form style */
.form-group {
  padding: 10px;
  border: solid 3px;
  background-color: #ffff;
}

.stages .button {
  background-color: #3EC28F;
}
</style>