<template>
  <div>
    <div class="buttons">
      <b-button
        @click="addSteps()"
        size="is-medium"
        icon-right="plus-circle"
        label="Steps"
        type="is-success"
      >
      </b-button>
    </div>

    <div class="steps">
      <!-- Btn vitra Btn -->

      <draggable v-model="steps" >
        <!-- <transition-group name="list-complete"> -->
        <div
          v-show="show"
          v-for="(item, index) in journeyMap.steps"
          :key="item.id"
          class="step">

          <b-button  b-modal v-modal style="background-color:`this.color`"
            >{{ item.name }} <span :id="index"></span
          ></b-button>
        </div>
        <!-- </transition-group> -->
      </draggable>

      <!-- DRAGGABLE FILE FOR DRAGGING BTN  -->
      <!-- <draggable v-model="navitems" class="bigger-area">
      <transition-group name="list-complete">
        <div
          v-for="item in navitems"
          :key="item"
          class="steps"
        ><b-button :class="item.class" v-b-modal.modal-2
          >{{ item.name }} <span :class="item.class"></span
        ></b-button>  </div>
        
      </transition-group>
    </draggable> -->

      <!-- <div v-show="show" v-for="item in navitems" :key="item" >
         <b-button :class="item.class" v-b-modal.modal-2
          >{{ item.name }} <span :class="item.class"></span
        ></b-button>   
    </div> -->

      <!-- <b-modal id="modal-2" title="ADD A STEP">
        <div>
          <b-form inline>
            <label class="sr-only" for="inline-form-input-name"
              >Step Name</label
            >
            <b-form-input
              id="inline-form-input-name"
              class="mb-2 mr-sm-2 mb-sm-0"
              placeholder="Step Name"
            >
            </b-form-input>
          </b-form>
        </div>
      </b-modal> -->
    </div>
  </div>
</template>
    

<script>
import draggable from "vuedraggable";
export default {
  name: "StepStep",
  props: {
    journeyMap: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      show: true,
      style:'',
      color:[],
      // navitems: [
      //   {
      //     name: "hears podcast ad",
      //     class: "podcast btn-square-md ",
      //   },
      //   {
      //     name: "clicks twitter ad",
      //     class: "twitter btn-square-md",
      //   },
      //   {
      //     name: "goes to landing page",
      //     class: "landingpage btn-square-md",
      //   },
      //   {
      //     name: "browses Online shop",
      //     class: "onlineshop btn-square-md",
      //   },
      //   {
      //     name: "reads 3rd party review",
      //     class: "party btn-square-md",
      //   },
      //   {
      //     name: "goes through checkout",
      //     class: "checkout btn-square-md",
      //   },
      //   {
      //     name: "gets new bike in mail",
      //     class: "mail btn-square-md",
      //   },
      //   {
      //     name: "wants to exchange the seat",
      //     class: "exchangeseat btn-square-md",
      //   },
      //   {
      //     name: "calls customer support",
      //     class: "customersupport btn-square-md",
      //   },
      //   {
      //     name: "carries out exchange why",
      //     class: "exchange btn-square-md",
      //   },
      //   {
      //     name: "receives new seat",
      //     class: "newseat btn-square-md",
      //   },
      //   {
      //     name: "leaves 5 star review",
      //     class: "starreview btn-square-md",
      //   },
      //   {
      //     name: "uses $10 coupon for new purchase",
      //     class: "coupon btn-square-md",
      //   },
      // ],
      dragging: true,
    };
  },
  computed: {
    btnClass(index) {
      return `btn${index}`;
    },
    getSteps(){
      return this.$store.state.stepStore;
    }
  },
  mounted() {
    console.log(this.$store.state.stepStore);
    for( var i = 0 ; i <= 10; i++){
      this.color[i] = this.journeyMap.steps[i].color;
    }

    console.log(this.journeyMap.steps[10].color);
    console.log(this.color)
  },
  components: {
    draggable,
  },
  methods: {
    addSteps() {

      this.$bus.emit("form-comp", {
        formTitle: "Add a Step",
        formKey: "step",
      });

      // passing data in store
      // this.store.dispatch("addSteps",this.journeyMap)
    },
  },
};
</script>

<style scoped>
.steps {
  display: inline-flex;
  position: relative;
  top: 1rem;
  margin: 0rem -170rem 5rem 0rem;
}
.steps .bigger {
  display: inline-flex;
}

.btn-square-md {
  width: 80px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 120px !important;
  text-align: center;
  padding: 0px;
  font-size: 12px;
  border-radius: 5px !important;
  border: none;
  box-shadow: 0px 2px rgb(143, 134, 134);
}

.steps .podcast {
  background-color: #67f8c0;
  margin-inline-start: 0.5rem;
}

.steps .twitter {
  background-color: #4aebad;
  margin-inline-start: 0.5rem;
}

.steps .landingpage {
  background-color: #3ec28f;
  margin-inline-start: 0.5rem;
}

.steps .onlineshop {
  background-color: #56ccf2;
  margin-inline-start: 0.5rem;
}

.steps .party {
  background-color: #4bb6d8;
  margin-inline-start: 0.5rem;
}

.steps .checkout {
  background-color: #a899ff;
  margin-inline-start: 0.5rem;
}

.steps .mail {
  background-color: #907cff;
  margin-inline-start: 0.5rem;
}

.steps .exchangeseat {
  position: relative;
  top: -0.55rem;
  background-color: #fc6949;
  margin-inline-start: 0.5rem;
}

.steps .customersupport {
  background-color: #e84d2a;
  margin-inline-start: 0.5rem;
}

.steps .exchange {
  background-color: #f24822;
  margin-inline-start: 0.5rem;
}

.steps .newseat {
  background-color: #f8a963;
  margin-inline-start: 0.5rem;
}

.steps .starreview {
  background-color: #f2994a;
  margin-inline-start: 0.5rem;
}

.steps .coupon {
  position: relative;
  top: -0.55rem;
  background-color: #ed872d;
  margin-inline-start: 0.5rem;
}

/* PLUS BUTTON Style */
/* .bi {
  color: #3ec28f;
} */

/* .steps .button {
  background-color: #67f8c0;
} */


/* Steps ko btn haru */
/* .steps .step1{
  background-color: black;
} */


/* Automatic generated code  */
.steps .step .button{
  background-color: #c7f8c0;
  width: 80px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 110px !important;
  text-align: center;
  padding: 0px;
  font-size: 5px;
  border-radius: 5px !important;
  border: none;
  box-shadow: 0px 2px rgb(143, 134, 134);
}

.steps .step{
  /* background-color:black; */
  display: inline-flex;
  margin-inline-start: 0.5rem;
  position: relative;
  top: 1rem;
}


</style>