<template>
  <div>
    <div id="container" class="position-absolute bottom-0 start-0 buttons">
      <!-- Nav with data -->
      <!-- <label class="list-group-item">
            <input class="form-check-input" type="checkbox" value="marketing">
                Marketing Team
        </label>
        <label class="list-group-item">
            <input class="form-check-input" type="checkbox" value="tech">
                Tech Team
        </label>
        <label class="list-group-item">
            <input class="form-check-input" type="checkbox" value="writing">
                Writing Team
        </label>
        <label class="list-group-item">
            <input class="form-check-input" type="checkbox" value="resources">
                Resources Team
        </label> -->

      <b-button
        @click="addTeam()"
        size="is-medium"
        icon-right="plus-circle"
        label="Teams"
        type="is-success">
      </b-button>

      <div class="teams">
        <div
          v-show="show"
          v-for="(item, index) in journeyMap.teams"
          :key="item.id"
          class="team">

          <b-button b-modal v-modal
            >{{ item.name }} <span :id="index"></span>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TeamTeam",
  props: {
    journeyMap: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      show: true,
      // navitems: [
      //   {
      //     id: "container",
      //     class: "",
      //     type: "checkbox",
      //     value: "marketing",
      //   },
      //   {
      //     id: "container",
      //     class: "",
      //     type: "checkbox",
      //     value: "marketing",
      //   },
      //   {
      //     id: "container",
      //     class: "",
      //     type: "checkbox",
      //     value: "marketing",
      //   },
      //   {
      //     id: "container",
      //     class: "",
      //     type: "checkbox",
      //     value: "marketing",
      //   },
      // ],
    };
  },
  computed: {
    btnClass(index) {
      return `btn${index}`;
    },
  },
  mounted() {
    console.log(this.$store.state.teamStore);
  },
  methods: {
    addTeam() {
      this.$bus.emit("form-comp", {
        formTitle: "Add a Team",
        formKey: "team",
      });
      this.$store.commit("teamStore", this.journeyMap)
      },
    },
  };

</script>

<style scoped>
#container {
  margin: -6.5rem 0 0 0;
}

.teams {
  margin-left: -8rem;
}

/* PLUS BUTTON Style
.bi {
  color: #3ec28f;
} */

/* Model Form style */
.form-group {
  padding: 10px;
  border: solid 3px;
  background-color: #ffff;
}

#container .button.is-medium.is-success {
background-color :#3EC28F;
position: relative;
top: 8rem;
/* margin-left: 8rem; */
}
</style>
