<template>
  <div class="touchpoint-container">
    <div class="buttons">
      <b-button
        @click="addTouchpoint()"
        size="is-medium"
        icon-right="plus-circle"
        label="Touchpoints"
        type="is-success"
      >
      </b-button>
    </div>
    <div class="touchpoint">
      <div
        v-show="show"
        v-for="(item, index) in journeyMap.touch_points"
        :key="item.id"
      >
        <b-button b-modal v-modal class="touchpoints"
          >{{ item.name }} {{ item.responsible_teams }}<span :id="index"></span>
        </b-button>

           <!--  -->
          <v-timeline dense>
            <v-timeline-item large></v-timeline-item>
            
            <!-- <v-timeline-item></v-timeline-item>
            <v-timeline-item></v-timeline-item>
            <v-timeline-item></v-timeline-item>
            <v-timeline-item></v-timeline-item> -->
          </v-timeline>
      </div>
    </div>

    <!-- <div class="touchpoints"> -->
    <!-- <button id="podcastad" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>podcastad</span> -->
    <!-- <button id="onlinead" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Online Ad</span> -->
    <!-- <button id="email" class="btn btn-circle btn-sm"></button ><br> -->
    <!-- <span>Email Campaign</span> -->
    <!-- <button id="search" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Search</span> -->
    <!-- <button id="landing" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Landing Page</span> -->
    <!-- <button id="blog" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Blog</span> -->
    <!-- <button id="review" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Reads Reviews</span> -->
    <!-- <button id="walk" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Walks Into Store</span> -->
    <!-- <button id="buys" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Buys Online</span> -->
    <!-- <button id="forum" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Reads Forum</span> -->
    <!-- <button id="tweet" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Tweets Us</span> -->
    <!-- <button id="fills" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Fills Out Support Ticket</span> -->
    <!-- <button id="support" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Calls Support</span> -->
    <!-- <button id="invoice" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Offer In Invoice</span> -->
    <!-- <button id="survey" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Survey</span> -->
    <!-- <button id="mail" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Direct Mailing</span> -->
    <!-- <button id="loyalty" class="btn btn-circle btn-sm"></button><br> -->
    <!-- <span>Loyalty Program</span> -->
    <!-- <div class="whole"> -->

    <!-- <div class="list">
        <b-list-group flush v-for="list in listitems" :key="list">
          <b-list-group-item>{{ list.value }}</b-list-group-item>
        </b-list-group>
      </div> -->
    <!-- <b-steps>
      <b-step-item
        label="Podcast Ad"
        icon="account-key"
        type="is-success"
      ></b-step-item>
      <b-step-item
        label="Online Ad"
        icon="account"
        type="is-danger"
      ></b-step-item>
      <b-step-item
        label="Email Campaign"
        icon="account-plus"
        type="is-success"
      ></b-step-item>
      <b-step-item
        label="Email Campaign"
        icon="account-plus"
        type="is-success"
      ></b-step-item>
      <b-step-item
        label="Email Campaign"
        icon="account-plus"
        type="is-success"
      ></b-step-item>
      <b-step-item
        label="Email Campaign"
        icon="account-plus"
        type="is-success"
      ></b-step-item>
      <b-step-item
        label="Email Campaign"
        icon="account-plus"
        type="is-success"
      ></b-step-item>
      <b-step-item
        label="Email Campaign"
        icon="account-plus"
        type="is-success"
      ></b-step-item>
      <b-step-item
        label="Email Campaign"
        icon="account-plus"
        type="is-success"
      ></b-step-item>
      <b-step-item
        label="Email Campaign"
        icon="account-plus"
        type="is-success"
      ></b-step-item>
    </b-steps> -->

    <!-- Progress bar -->
    <!-- <div class='container'>
  <div class='progress-bar'>
    <div class='progress-now'></div>
  </div>
  </div> -->
  </div>
</template>

<script>
// import draggable from 'vuedraggable';
export default {
  name: "TouchPoint",
  props: {
    journeyMap: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      show: true,
      teamsTodisplay: "",
      // navitems: [
      //   {},
      //   {
      //     class: "tbtn onlinead btn btn-circle btn-sm",

      //   },
      //   {
      //     class: "tbtn email btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn search btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn landing btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn blog btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn review btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn walk btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn buys btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn forum btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn tweet btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn fills btn btn-circle btn-sm",
      //   },
      //   {
      //     class: "tbtn support btn btn-circle btn-sm",
      //   },
      // ],

      // listitems: [
      //   {
      //     class: "",
      //     value: "Marketing Team",
      //   },
      //   {
      //     class: "",
      //     value: "Tech Team",
      //   },
      //   {
      //     class: "",
      //     value: "Resource Team",
      //   },
      //   {
      //     class: "",
      //     value: "Writing",
      //   },
      // ],
    };
  },
  computed: {
    btnClass(index) {
      return `btn${index}`;
    },
  },
  mounted() {
    console.log(this.$store.state.touchpointStore);
    this.teamsTodisplay = this.journeyMap.touch_points.responsible_teams;
    console.log(this.teamsTodisplay);
    // journey map ko data line and if condition lagayera
  },
  // components: {
  //   draggable,
  // },
  methods: {
    addTouchpoint() {
      this.$bus.emit("form-comp", {
        formTitle: "Add a Touchpoint",
        formKey: "touchpoint",
      });
      this.$store.commit("TouchpointStore", this.journeyMap);
    },
  },
};
</script>

<style scoped>
.touchpoint-container {
  height: 31vh;
}
.touchpoint {
  display: flex;
  margin: -1em 0 0 0;
}
.touchpoints {
  position: relative;
  background-color: white;
  padding-left: 3rem;
  margin: 0 0 4rem 0;
  border-radius: 10%;
  width: 10rem;
}

/* .container {
  padding-left: rem;
} */

/* .touchpoints .btn-circle.btn-sm {
          line-height: 5rem;
          font-size: 30px;
     } */

/* .tbtn {
  margin-right: 1rem;
} */
/* .line {
  position: absolute;
  top: 15px;
  left: 10rem;
  width: 30rem;
  height: 2px;
  background: grey;
} */

/* .touchpoints .podcastad {
         background-color: #3EC28F;
    }
    .touchpoints .onlinead {
         background-color: #3EC28F;
         margin-inline-start: 3rem;
    }
    .touchpoints .email {
         background-color: #3EC28F;
         margin-inline-start: 3rem;
    }
    .touchpoints .search {
         background-color: #3EC28F;
         margin-inline-start: 3rem;
    }
    .touchpoints .landing  {
         background-color: #56CCF2;
         margin-inline-start: 3rem;
    }
    .touchpoints .blog {
         background-color: #56CCF2;
         margin-inline-start: 3rem;
    }
    .touchpoints .review {
         background-color: #56CCF2;
         margin-inline-start: 3rem;
    }
    .touchpoints .walk {
         background-color: #907CFF;
         margin-inline-start: 3rem;
    }
    .touchpoints .buys {
         background-color: #907CFF;
         margin-inline-start: 3rem;
    }
    .touchpoints .forum {
         background-color: #F24822;
         margin-inline-start: 3rem;
    }
    .touchpoints .tweet {
         background-color: #F24822;
         margin-inline-start: 3rem;
    }
    .touchpoints .fills {
         background-color: #F24822;
         margin-inline-start: 3rem;
    }
    .touchpoints .support {
         background-color: #F24822;
         margin-inline-start: 3rem;
    }
    .touchpoints .invoice {
         background-color: #F2994A;
         margin-inline-start: 3rem;
    }
    .touchpoints .survey {
         background-color: #F2994A;
         margin-inline-start: 3rem;
    }
    .touchpoints .mail {
         background-color: #F2994A;
         margin-inline-start: 3rem;
    }
    .touchpoints .loyalty {
         background-color: #F2994A;
         margin-inline-start: 3rem;
    } */

.btn-circle.btn-sm {
  color: black;
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

/* PLUS BUTTON Style */
/* .bi {
  color: #3ec28f;
} */

/* Model Form style */
.form-group {
  padding: 10px;
  border: solid 3px;
  background-color: #ffff;
}

.list {
  position: fixed;
  left: 1rem;
  margin: 2rem 0 0rem 0;
}

/* Progress Bar */
/* .progress-bar {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom, #8fe4bf 99.9%, transparent 99.9%),
    radial-gradient(circle at 50% 50%, #8fe4bf 25%, transparent 30%);
  background-position: 50% 0%, 50% 0%;
  background-size: 5px 90%, 50px 50px;
  background-repeat: no-repeat, repeat-y;
} */

.touchpoint .touchpoints {
  position: relative;
  top: 0rem;
  left: 20rem;
}

/*  */
.touchpoint .container {
  position: relative;
  top: -4rem;
  left: 19rem;
}

/* SASS */
/* #$timeline-divider-center	
50% !default;
#$timeline-divider-width	
96px !default;
#$timeline-item-padding	
24px !default;
#$timeline-line-width	
2px !default;
#$timeline-wedge-size	
10px !default;
#$timeline-dot-small-size	
24px !default;
#$timeline-dot-regular-size	
38px !default;
#$timeline-dot-large-size	
52px !default;
#$timeline-inner-dot-small-size	
18px !default;
#$timeline-inner-dot-regular-size	
30px !default;
#$timeline-inner-dot-large-size	
42px !default; */
</style>
