<template>
  <div id="app">

    <p>{{ $store.dispatch}}</p>
    <p>{{ $store.commit }}</p>
    
    <!-- {{journeyMap}} -->
    <FormComp />
    <StageComp :journeyMap="journeyMap" />
    <StepStep :journeyMap="journeyMap" />
    <TouchPoint :journeyMap="journeyMap" />
    <TeamTeam :journeyMap="journeyMap" />
    <!-- <Draggable /> -->
    <!-- <VueXe/> -->
    <!-- <createStore/> -->
  </div>
</template>

<script>
import StageComp from "./components/stage.vue";
import StepStep from "./components/steps.vue";
import TouchPoint from "./components/touchpoints.vue";
import TeamTeam from "./components/teams.vue";
// import Draggable from "vuedraggable";
// import VueXe from "./VueXe"
// import createStore from './VueXe'

export default {
  name: "App",
  components: {
    FormComp: () => import("./components/formComp.vue"),
    // createStore: () => import("./VueXe"),
    StageComp,
    StepStep,
    TouchPoint,
    TeamTeam,
    // Draggable,
    // VueXe,
    // createStore,
  },
  data() {
    return {
      journeyMap: {
        teams: [
          {
            name: "Marketing Team",
            id: 1,
            order: 0,
          },
          {
            name: "Tech Team",
            id: 2,
            order: 0,
          },
          {
            name: "Writing Team",
            id: 3,
            order: 0,
          },
          {
            name: "Resources Team",
            id: 4,
            order: 0,
          },
        ],
        stages: [
          {
            name: "Awareness",
            color: "#3EC28F",
            order: 0,
            id: 1,
          },
          {
            name: "Consideration",
            color: "#56CCF2",
            order: 0,
            id: 1,
          },
          {
            name: "Acquisition",
            color: "#907CFF",
            order: 0,
            id: 1,
          },
          {
            name: "Service",
            color: "#F24822",
            order: 0,
            id: 1,
          },
          {
            name: "Loyalty",
            color: "#F2994A",
            order: 0,
            id: 1,
          },
        ],
        steps: [
          {
            name: "hears podcast ad",
            color: "#67f8c0",
            order: 0,
            id: 1,
          },
          {
            name: "clicks twitter ad",
            color: "#4aebad",
            order: 0,
            id: 2,
          },
          {
            name: "goes to landing page",
            color: "#3EC28F",
            order: 0,
            id: 3,
          },
          {
            name: "browses online shop",
            color: "#56ccf2",
            order: 0,
            id: 4,
          },
          {
            name: "reads 3rd party review",
            color: "#4bb6d8",
            order: 0,
            id: 5,
          },
          {
            name: "goes through checkout",
            color: "#a899ff",
            order: 0,
            id:6,
          },
          {
            name: "gets new bike in mail",
            color: "#907cff",
            order: 0,
            id: 7,
          },
          {
            name: "wants to exchange the seat",
            color: "#fc6949",
            order: 0,
            id: 8,
          },
          {
            name: "calls customer support",
            color: "#e84d2a",
            order: 0,
            id: 9,
          },
          {
            name: "carries out exchange why",
            color: "#f24822",
            order: 0,
            id: 10,
          },
          {
            name: "receives new seat",
            color: "#f8a963",
            order: 0,
            id: 11,
          },
          {
            name: "leaves 5 star review",
            color: "#f2994a",
            order: 0,
            id: 12,
          },
          {
            name: "uses $10 coupon for new purchase",
            color: "#ed872d",
            order: 0,
            id: 13,
          },
        ],
        touch_points: [
          {
            name: "Podcast ad",
            color: "#3EC28F",
            responsible_teams: [1, 2],
            order: 0,
            id: 1,
          },
          {
            name: "online ad",
            color: "#3EC28F",
            responsible_teams: [1, 3],
            order: 0,
            id: 2,
          },
          {
            name: "email",
            color: "#3EC28F",
            responsible_teams: [1, 3],
            order: 0,
            id: 3,
          },
          {
            name: "search",
            color: "#3EC28F",
            responsible_teams: [1, 3],
            order: 0,
            id: 4,
          },
          {
            name: "landing",
            color: "#56CCF2",
            responsible_teams: [1, 3],
            order: 0,
            id: 5,
          },
          {
            name: "blog",
            color: "#56CCF2",
            responsible_teams: [1, 3],
            order: 0,
            id: 6,
          },
          {
            name: "review",
            color: "#56CCF2",
            responsible_teams: [1, 3],
            order: 0,
            id: 7,
          },
          {
            name: "walk",
            color: "#907CFF",
            responsible_teams: [1, 3],
            order: 0,
            id: 8,
          },
          {
            name: "buys",
            color: "#907CFF",
            responsible_teams: [1, 3],
            order: 0,
            id: 9,
          },
          {
            name: "forum",
            color: "#F24822",
            responsible_teams: [1, 3],
            order: 0,
            id: 10,
          },
          {
            name: "tweet",
            color: "#F24822",
            responsible_teams: [1, 3],
            order: 0,
            id: 11,
          },
          {
            name: "fills",
            color: "#F24822",
            responsible_teams: [1, 3],
            order: 0,
            id: 12,
          },
          {
            name: "support",
            color: "#F24822",
            responsible_teams: [1, 3],
            order: 0,
            id: 13,
          },
          {
            name: "invoice",
            color: "#F2994A",
            responsible_teams: [1, 3],
            order: 0,
            id: 14,
          },
          {
            name: "survey",
            color: "#F2994A",
            responsible_teams: [1, 3],
            order: 0,
            id: 15,
          },
          {
            name: "mail",
            color: "#F2994A",
            responsible_teams: [1, 3],
            order: 0,
            id: 16,
          },
          {
            name: "loyalty",
            color: "#F2994A",
            responsible_teams: [1, 3],
            order: 0,
            id: 17,
          },
        ],
      },
    };
  },
  created() {
    this.$bus.on(
      "update:stages",
      (data) => {
        console.log("Stage added")
        console.log(data)
        this.journeyMap.stages.push(data);
      }
    );
    this.$bus.on("update:step", (data) => {
      console.log("Step added")
      console.log(data)
      this.journeyMap.steps.push(data);
      console.log(this.journeyMap.steps)
    });
    this.$bus.on("update:touchpoint", (data) => {
      console.log("Touchpoint added")
      console.log(data)
      this.journeyMap.touch_points.push(data);
    });
    this.$bus.on("update:team", (data) => {
      console.log("Teams added")
      console.log(data)
      this.journeyMap.teams.push(data);
    });
  },
  mounted()
{
  console.log(this.journeyMap.steps)
}};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  margin: 0;
  margin-top: 50px;
  margin-left: 1rem;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  }
</style>
